
        <div class="bootstrap-wrapper">
          <div class="container">
            <div class="row mt20">
              <div class = "col-md-6 offset-md-3 text-center">
                <h1  class="text-center" aria-label = "Example icon-button with heart icon" >
                  Sistema de Registro de Empleados
                  <div class="container text-center">
                    <img src="/office-icons-as-employee.jpg" width = "650" height = "500">
                  </div>
                </h1>
                <!--button mat-raised-button color = "primary">Inicio</button-->
                <a
                  [routerLink]="'/login'"
                  style="margin-right: 150px"
                  mat-button
                  class = "example-icon favorite-icon"
                  color = "primary"
                  aria-label = "Example icon-button with heart icon"
                >

                <!--h1 class="text-center"
                    aria-label = "Example icon-button with heart icon" >
                  Inicio
                </h1-->
                </a>
              </div>
            </div>
          </div>
        </div>
